body {
    display: block;
    margin: 0px;
}

nav{
    height: 10vh;
    background:none;
    font-family: sans-serif;
    margin-bottom: 2rem; 
    position: relative;
}

.nav-article{
    margin-bottom: 0;
}


.nav-links{
    position: fixed;
    background:none;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease-out; 
    pointer-events: none;
}

.nav-links li a{
    color: rgb(12, 8, 8);
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.nav-links.open{
    
    pointer-events: all;
}
   
    .line{
        width: 30px;
        height: 3px;
        background: rgb(15, 15, 15);
        margin: 5px;
    }

    

    .hamburger{
        position:absolute;
        cursor: pointer;
        right: 5%;
        top: 12%;
        transform: translate(-5% , 50%);
        z-index: 2;
    }


    
.content{
    width: 95%; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: rgb(70 120 245);
    font-weight: bold;
}
    
